body{

    margin:0;
   
}


.dropdown .button{
    border: none;
    padding: 14px 16px;
    font-size: 16px;
    display:inline;

}
.dropdown .content a{
    text-decoration: none;
    color:black;
    float:right;
    width: 85px;
    text-align: center;
    clear:right;
    display: none;
    padding-top: 5px;    
    
}
.dropdown button:hover {
    background-color: slategray;
    color:white;
    box-shadow: 1px 2px 5px black;

}
.dropdown:hover a{
    display:inline;
    background-color: rgb(35, 137, 225);
   

}
.dropdown{

    margin:0;  
     
    
}
.dropdown a:hover{
    background-color: blue;
    font-weight: bold;
}
.dropdown .content{
    position: absolute;
    
}
.div2{
    display: flex;

}
.main{
   
}